/* Importaciones */
    @import url('https://fonts.googleapis.com/css2?family=Raleway&family=Ubuntu');
/* Reglas Generales */
    *{
        box-sizing: border-box;
        font-family: 'Ubuntu', 'Century Gothic', sans-serif;
        scroll-behavior: smooth;
    }
    /* Tablas */
    table{
        max-width: 720px;
        margin: auto;
    }
    table caption{
        border-radius: .25rem .25rem 0 0;
    }
    table caption,
    th,
    td{
        padding: .5rem 1rem;
    }
    /* Colaboradores */
    .colabs caption{
        background-color: #c36;
    }
    .colabs{
        border-collapse: collapse;
        color: #eee;
        background: linear-gradient(#c36, #448);
        text-align: left;
        text-shadow: 0 0 .5rem #333;
        box-shadow: -.5rem .5rem .5rem #666;
    }
    .colabs tbody tr:nth-child(odd){
        background-color: hsla(0,0%,60%,.3);   
    }
    .colabs tbody tr:nth-child(even){
        background-color: hsla(0,0%,40%,.3);
    }

/* Pantallas Pequeñas */

/* Pantallas Medianas */

/* Pantallas Grandes */