/* Importaciones */
    @import url('https://fonts.googleapis.com/css2?family=Raleway&family=Ubuntu');
/* Reglas Generales */
    *{
        box-sizing: border-box;
        font-family: 'Ubuntu', 'Century Gothic', sans-serif;
        scroll-behavior: smooth;
    }
    /* Tablas */
    table{
        max-width: 720px;
        margin: auto;
    }
    table caption{
        border-radius: .25rem .25rem 0 0;
    }
    table caption,
    th,
    td{
        padding: .5rem 1rem;
    }
    /* Colaboradores */
    .colabs,
    .colabs caption,
    .colabs tr,
    .colabs td{
        color: #eee;
        background-color: rgba(51, 51, 136, .4);
    }
/* Pantallas Pequeñas */

/* Pantallas Medianas */

/* Pantallas Grandes */